*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#kv{
    color:#30B868;
    font-size:x-large;
    font-weight: 900;  
}
.logo{
    display: flex;
    font-size: small;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}
#under_vault{
    font-size: 5px;
}
#nav{
    display: flex;
    align-items:center ;
    padding: 10px 40px;
}
.brand{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#btn1{
   background-color: #30B868;
   color: white;
   padding:12px 16px ;
   border-radius: 4px;
   border-color: white;
}

#light{
    height: 56px;
    width: 50px;
   display: block;
}
.head{
    position: relative;
}
#desk{
    width: 100%;
    height: 500px;
    opacity: .8;
}
.text{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
#btn2{
    padding: 12px 16px ;
    color:rgb(182, 182, 182);
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: bold;
}
.early_access{
    background-color: white;
    /* width: 100%; */
    text-align: center;
}
#early_accs_txt{
    align-items: center;
    display: inline-flex;
    color:#30B868;
    border-radius: 4px;
}
#txt1{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 40px;
}
#txt2{
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
}

.card-list {
    display: flex;
    /* justify-content: center;  */
    gap: 16px;          
    padding: 24px ;   
}

.card {
    flex: 1;                 
    max-width: 322px;   
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;   
    box-shadow: 0 4px 20px rgba(0,0,0,0.05); 
    text-align: center;
}
.card p {
margin-top: 20px;
color: #627382;
}

.icon-box {
    background-color:  #f95555;;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* .icon-box img {
    width: 24px;
    height: 24px;
} */

wa-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-brain{
    margin-left: 40px;
    display: flex;
}
#circle{
    height:600px;
    width: auto;
}
.txt3{
    align-items: center;
    margin-left: 60px;
    margin-top: 100px;
}
#txt4{
    color: #30B868;
}
.li{
    margin-bottom: 15px;
    text-decoration: none;
}