*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#kv{
    color:#30B868;
    font-size:x-large;
    font-weight: 900;  
}
.logo{
    display: flex;
    font-size: small;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}
#under_vault{
    font-size: 5px;
}
#nav{
    display: flex;
    align-items:center ;
    padding: 10px 40px;
}
.brand{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#btn1{
   background-color: #30B868;
   color: white;
   padding:12px 16px ;
   border-radius: 4px;
   border-color: white;
}

#light{
    height: 56px;
    width: 50px;
   display: block;
}
.head{
    position: relative;
    /* overflow: hidden; */
}
#desk{
    width:100%;
    height: 500px;
    opacity: .8;
}
#text{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
#btn2{
    padding: 12px 16px ;
    color:rgb(182, 182, 182);
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: bold;
}
.early_access{
    background-color: white;
    /* width: 100%; */
    text-align: center;
}
#early_accs_txt{
    align-items: center;
    display: inline-flex;
    color:#30B868;
    border-radius: 4px;
}